@import url("variables.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    background: #AC0101;
    background: linear-gradient(180deg, rgba(172, 1, 1, 1) 0%, rgba(194, 0, 0, 1) 25%, rgba(224, 0, 0, 1) 50%, rgba(255, 0, 0, 1) 100%);
}


.card-principal{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    background-color: var(--cinza-claro) ;
    border-radius: 12px;
    height: 700px;
    padding: 20px;
    
   
}

.titulo-principal{
    font-size: 22px;
    font-weight: 500;
    color: var(--preto);
    margin-bottom: 25px;
}

.subtitulo{
    font-size: 18px;
    font-weight: normal;
    color: var(--preto);
    margin-bottom: 20px;
}

.formulario-perda{
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: left;
}

.campo-grupo{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.rotulo{
    font-size: 15px;
    color: var(--preto);
    padding-left: 4px;
}

.entrada-texto{
    padding: 6px 14px;
    border: none;
    border-radius: 5px;
    color: var(--preto);
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.entrada-area-texto{
    padding: 20px;
    border: none;
    border-radius: 5px;
    color: var(--preto);
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.entrada-texto:focus,
.entrada-area-texto:focus {
    box-shadow: 0 0 0 1px var(--vermelho-principal);
}

.grupo-botoes{
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.botao-submit,
.botao-cancelar {
    flex: 1;
    height: 42px;
    background-color: var(--vermelho-escuro);
    color: var(--branco);
    border: none;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.95rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 10px rgba(224, 0, 0, 0.25);
    transition: background-color 0.2s ease, transform 0.1s ease, box-shadow 0.2s ease;
}

/* Efeito Hover */
.botao-submit:hover,
.botao-cancelar:hover {
    background-color: var(--vermelho-profundo);
    box-shadow: 0 6px 14px rgba(172, 1, 1, 0.35);
}

/* Efeito ao Clicar */
.botao-submit:active,
.botao-cancelar:active {
    transform: scale(0.97);
}

.link-voltar {
    display: inline-block;
    margin-top: 15px;
    color: var(--preto);
    font-size: 15px;
    text-decoration: underline;
    
}

.link-voltar:hover {
    color: var(--vermelho-profundo);
}


@media (max-width: 480px) {
    main {
        padding: 15px 10px;
    }

    .card-principal {
        max-width: 320px;
        padding: 25px 18px 20px;
    }

    .titulo-principal {
        font-size: 1.15rem;
    }

    .subtitulo {
        font-size: 1.05rem;
    }
}