
:root {
    /* Cores principais do CSS */
    --vermelho-principal: #FF0000;
    --vermelho-escuro: #E00000;
    --vermelho-medio: #C20000;
    --vermelho-profundo: #AC0101;

    /* Cores neutras */
    --branco: #FFFFFF;
    --cinza-claro: #E8E8E8;
    --cinza-medio: #CFCFCF;
    --cinza-escuro: #A8A8A8;
    --preto: #2D2D2D;
}