body.escuro{
    background-color: rgb(44, 44, 44);
    color: white;
    
}


body{
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif
}


.transparente-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

}

.item-central{
    display: flex;
    gap: 12px;
}


.item-data{
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}


.item-data input{
    padding: 8px;
    
}