<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar item cadastrado</title>
</head>
<body>
    <main class="container-principal">
        
        <form action="" class="formulario-editar-cadastro-item">
            <div class="input-produto">
                <label for="produto">Produto:</label></div><br>
                <input type="text" id="produto" name="produto" required>
            </div>

            <div class="input-local">
                <label for="local">Local (opcional):</label><br>
                <input type="text" id="local" name="local">
            </div>

            <div class="input-data">
                <label for="data">Data (opcional):</label><br>
                <input type="date" id="data" name="data">
            </div>

            <div class="input-descricao">
                <label for="descricao">Descrição:</label><br>
                <textarea id="descricao" name="descricao" rows="4" required></textarea> 
            </div>

            <div class="botoes">
                <button type="submit">Salvar alteração</button><br>
                <button type="button">Cancelar</button>
                <button type="button" class="btn-excluir">Excluir</button>
            </div>

        </form>
        
    </main>
</body>
</html>