<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
</head>
<body>
    <main>
        <header>
             <button></button>
             <h1></h1>
             <h3></h3>
             <img src="https://placehold.co/150" alt="foto perfil">
        </header>

        <section>
            <div>
                <p>Nome:</p>
                <input type="text" placeholder="Nome">
                <p>E-mail:</p>
                <input type="text" placeholder="E-mail">
                <p>Curso:</p>
                <input type="text" placeholder="Curso">
            </div>
            <button></button>
            <button></button>
        </section>
    </main>
</body>
</html>