<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
</head>
<body>
    <main>
        <header>
             <button>voltar</button>
             <h1>SENAI | LOCALIZA+</h1>
             <h3>Altere seus dados</h3>
             <img src="https://placehold.co/150" alt="foto perfil">
        </header>

        <section>
            <div>
                <p>Nome:</p>
                <input id="nome-novo" type="text" placeholder="Nome">
                <p>E-mail:</p>
                <input id="email-novo" type="text" placeholder="E-mail">
                <p>Curso:</p>
                <input id="curso-novo " type="text" placeholder="Curso">
            </div>
            <button href="" >Salvar</button>
            <button href="" >Cancelar</button>
            <a href="tela_inicial_usuario.html">voltar a página principal</a>
        </section>
    </main>
</body>
</html>