<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar item cadastrado</title>
</head>
<body>
    <main class="container-principal">
        <div>
            <form action="">produto</form>
            <input type="text">
        </div>

        <div>
            <form action="">Local (opcional)</form>
            <input type="text">
        </div>

        <div>
            <form action="">Data (opcional):</form>
            <input type="text">
        </div>

        <div>
            <form action="">Descrição:</form>
            <input type="text">
        </div>

        <div>
            <button>Salvar alteração</button>
            <button>Cancelar</button>
            <button>Excluir</button>
        </div>
        
    </main>
</body>
</html>