<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazer login</title>
</head>

<body>

    <section class="container-login">

        <div class="container-header">
            <h1>Entrar</h1>
            <h4>PERFIL | SETOR DE APIOI </h4>
        </div>

        <!-- Futura rota -> cadastro -->
        <div class="container-form">
            
            <form action="/cadastrar/post" method="post">
                <label for="cpf">CPF:</label><br>
                <input id="cpf" name="cpf" type="text" placeholder="Digite seu CPF..."><br>

                <label for="senha">Senha:</label><br>
                <input id="senha" name="senha" type="password" placeholder="Digite sua senha..."><br>


                <button type="submit" class="botao">Entrar</button>
            </form>

            <button type="submit" class="botao">Voltar</button>

            <p>Não possui uma conta? <a href="/cadastrar" class="link-secundario">Cadastre-se</a>
            </p>

        </div>

        <div class="container-go-back">
            <p>Esqueceu sua senha? <a href="/recuperar-senha" class="link-secundario">Recuperar senha</a>
            </p>
        </div>


    </section>

</body>

</html>