<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_usuario.css') }}">
    <title>Fazer login</title>
</head>

<body>

    <section class="container-login">

        <div class="container-header">
            <h1>Entrar</h1>
            <h4>PERFIL | ALUNO </h4>
        </div>

        <div class="container-form">

            <!-- Mensagem de erro (caso ocorra falha no login) -->
            {% if erro %}
                <p style="color: red; text-align: center;">{{ erro }}</p>
            {% endif %}

            <!-- CORREÇÃO AQUI: Usando url_for com o nome da função em Python -->
            <form action="{{ url_for('pag_login_aluno') }}" method="post">
                <label for="email">E-mail:</label><br>
                <input id="email" name="email" type="text" placeholder="Digite seu E-mail..." required><br>

                <label for="senha">Senha:</label><br>
                <input id="senha" name="senha" type="password" placeholder="Digite sua senha..." required><br>

                <button type="submit" class="botao">Entrar</button>
            </form>

        </div>

        <a href="{{ url_for('selecionar_perfil') }}">Voltar</a>

        <p>Não possui uma conta? <a href="{{ url_for('pag_cadastro') }}" class="link-secundario">Cadastre-se</a></p>

        <!-- Estrutura Popup -->
        <div>
            <h2>Recuperar Senha</h2>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            
            <a href=""><button>Enviar Solicitação</button></a>


        </div>

        <div class="container-go-back">
            <p>Esqueceu sua senha? <a href="/recuperar-senha" class="link-secundario">Recuperar senha</a></p>
        </div>

    </section>

</body>

</html>