<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Itens</title>
</head>
<body>
    <nav class="navbar transparente-header">
        <div class="container-fluido">
            <h1>LOCALIZA+</h1>
        </div>
    </nav>


    
      <form action="" class="formulario">
        <div class="input-item">
            <label for="item">Item Perdido: </label>
            <input type="text" id="item" name="item" required>
        </div>

        <div class="input-local">
            <label for="Local">Local:</label>
            <input type="text" id="local" name="local">
        </div>

        <div class="input-data">
            <label for="data">Data:</label>
            <input type="date" id="data" name="data">
        </div>

        <div class="input-descricao">
           <label for="descricao">Descrição:</label>
           <textarea id="descricao" name="descricao" rows="4" required></textarea>

        </div>


        <div class="botoes">
            <button type="submit">Enviar</button>
            <button type="button">Cancelar</button>
            <a href="">voltar para a página inicial</a>

        </div>


      </form>

    

    
</body>
</html>