<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Itens</title>
</head>

<body>

    <main>
        <section class="card-principal">

            <h1>SENAI | LOCALIZA+</h1>

            <h2>Registro de itens perdidos</h2>


            <form action="/perda" method="post">

                <div>
                    <label for="item">Item perdido: *</label>
                    <input type="text" id="item" name="item" required>
                </div>
                
                <div>
                    <label for="local">Local (opcional)</label>
                    <input type="text" id="local" name="local">
                </div>
                
                <div>
                    <label for="data">Data (opcional)</label>
                    <input type="date" id="data" name="data">
                </div>
                
                <div>
                    <label for="foto">Foto (opcional)</label>
                    <input type="file" id="foto" name="foto">
                </div>
                
                <div>
                    <label for="descricao">Descrição *</label>
                    <textarea id="descricao" name="descricao" required></textarea>
                </div>
                
                <div>
                    <button type="submit">Enviar</button>
                    <button type="button">Cancelar</button>
                </div>
                

            </form>

            <a href="/">voltar à página principal</a>

        </section>
    </main>

</body>
</html>