<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela inicial usuário| LOCALIZA+</title>
</head>
<body>

    <header>
        
        <h1>SENAI | LOCALIZA+</h1>

        <!-- Opções do Perfil do Utilizador -->
        <nav>

            <!-- Ícone Perfil -->
            <a href="visualizar_perfil.html" title="Perfil do Usuário">
                👤 Perfil
            </a>
            
            <!-- Menu para Visualizar e Editar Perfil -->
            <ul>
                <!-- <li><a href="editar_perfil.html">Editar Perfil</a></li> -->
            </ul>
        </nav>
    </header>

    <hr>

    <main>
        <section>
            <!-- Botão/Link para Relatar Item -->

            <!-- <a href="relatar_item_perdido.html">
                <h2>Relatar Item</h2> -->
            </a>
        </section>

        <section>
            <!-- Botão/Link para Visualizar itens no A&P -->
            <a href="visualizar_itens.html">
                <h2>Visualizar disponíveis no A&P</h2>
            </a>
        </section>
    </main>

</body>
</html>