<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela inicial</title>
</head>
<body>
   <div class="card-container">
        <a href="" class="card"> Editar itens perdidos
        </a>

        <!-- falta a rota do relatório de itens -->
        <a href="" class="card">
            Relatório de itens (alunos)
        </a>
    </div>

    <a href="/selecionar-perfil" class="btn-voltar">Voltar</a>
</body>
</html>