<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Itens</title>
</head>
<body>
    <header>
        <h1>LOCALIZA+</h1>
        <a href=""><button>Voltar</button></a>
    </header>

    <div>
        <label for="data">A partir de:</label>
        <input type="date" name="data" value="2026-09-25">
    </div>
    


    <button>Filtrar</button>

    <!-- Estrutura Popup -->
    <div class="filtros">


    <!-- Lista de Filtros -->


    <div class="grupo-filtro">
        <h2>Categorias</h2>

        <div>
            <h3>Disponibilidade</h3>
            <label for="">
                <input type="checkbox">Disponivel
            </label>
            <h3>Subcategorias</h3>
            <label for="">
                <input type="checkbox">Acessorios
            </label>
            <label for="">
                <input type="checkbox">Roupas
            </label>
            <label for="">
                <input type="checkbox">EPI
            </label>
        </div>


    </div>

    </div>

    
</body>
</html>