<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar perfil - LOCALIZA +</title>
</head>

<body>
    <main>
        <header>
            <h1>LOCALIZA +</h1>
            <button type="button">voltar</button>
        </header>

        <section>
            <h2>Olá Fulano!</h2>
            <img src="https://placehold.co/150" alt="perfil">
        </section>

        <section class="dados-perfil">
            <div class="card-dados">
                <p class="campos-dados">Nome</p>
                <p class="campos-dados">E-mail</p>
                <p class="campos-dados">Curso</p>     
            </div>
            <button type="button" class="btn-editar">Editar dados</button>
        </section>
    </main>
</body>

</html>